@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 :root{
    --morning-bg: linear-gradient(#C6E4EE 0%, #C6E4EE 20%, #FED1AE 40%, #FAA0B9 60%, #CB7DCB 80%, #757ECB 100%);
    --afternoon-bg: linear-gradient(#83d8ff 0%,#3DABDE 50%, #ff945f);
    --evening-bg: linear-gradient(#126390 0%,#829DAE50 33%,#C3632C 66%,#593950 80%);
    --night-bg: linear-gradient(#161A33 0%, #23213E 25%, #3D284C 50%, #59365C 75%, #C28187 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

 .weird{
    position: absolute;
    min-height: 450px;
}

body{
    height: 100vh;
    background: var(--morning-bg);
    overflow: hidden;
}

.main{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 75%;
    text-align: center;
}

.hero-main,
.game-container{
    position: absolute;
}
.hero-main{
    right: 10%;
}
.game-container{
    left: 500%;
}


.main-title{
    padding: 1em;
    font-size: 3.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}

.play-btn{
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 700;
    padding: .5em 4em;
    border: 1px solid white;
    border-radius: 30px;
    color:black;
    background-color: white;
}

.circle{
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 213, 158);
    translate: -30vw 42vh;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.game-title,.score{
    margin: .5em 0;
}

.btns-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1em;
}

.btn{
    cursor: pointer;
    margin:4em;
    padding: 1em;
    background: none;
    border: none;
    filter:drop-shadow(0 0 15px white);
    transition: .3s ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
}




.hand-img{
    width: 100px;
}