@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 :root{
    --morning-bg: linear-gradient(#C6E4EE 0%, #C6E4EE 20%, #FED1AE 40%, #FAA0B9 60%, #CB7DCB 80%, #757ECB 100%);
    --night-bg: linear-gradient(#161A33 0%, #23213E 25%, #3D284C 50%, #59365C 75%, #C28187 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

.weird{
    min-height: 550px;
}

body{
    height: 100vh;
    background: var(--night-bg);
    background-size: 300% 300%;
    background-position: 0 0; 
    overflow: hidden;
    animation: wtf 6s ease forwards;
}

@keyframes wtf{
    from{background-position: 0 0;}
    to{background-position: 100% 100%;
    background-size: 100% 100%;}
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    text-align: center;
    
}
.main-title{
    padding: 1em;
    font-size: 3.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}

.play-btn{
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 700;
    padding: .5em 4em;
    border: 1px solid white;
    border-radius: 30px;
    color:black;
    background-color: white;
}

.circle{
    position: absolute;
    z-index: -1;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(235, 242, 255);
    animation: moonGlow 4s ease infinite,
     up 4s ease-out both;
    transition: transform 4s ease;
    translate: 30vw -12vw;
}


.test{
    transform: translate(40vw,-30vw);
}

@keyframes up {
    from{
        translate: -38vw -40vw;
    }
    to{
        translate: 30vw -12vw;
    }
}

@keyframes moonGlow {
    0%,100%{
        box-shadow: 0 0 0 0;
    }
    50%{
        box-shadow: 0 0 80px -5px rgba(255, 255, 255, 0.5);
    }
}
